@import "../presets/values";

.card {
  // unit : edge = 40 : 1
  $unit: 5em; $edge: $unit / 40;

  width: 5 * $unit + 4 * $edge;
  height: 3 * $unit + 2 * $edge;
  padding: 30px;
  margin: 50px;


  border-radius: 10px;
  box-shadow: 0 0 70px #777;


  display: grid;
  grid: {
    template-rows: repeat(3, $unit + $edge);
    template-columns: repeat(5, $unit + $edge);
    template-areas:
            "b-1 b-1 s-5 b-2 b-2"
            "b-1 b-1 s-6 b-2 b-2"
            "s-1 s-2 s-3 s-4 o-1";
  }

  // two sizes.

  .big-pic {
    @include square-img(2 * $unit + $edge);

    //width: 2 * $unit + $edge; height: 2 * $unit + $edge;
    border-radius: 3px;
  }

  .small-pic {
    @include square-img($unit);

    //width: $unit; height: $unit;
    border-radius: 3px;
  }

  // place pics in right block.

  @for $i from 1 through 6 {
    .s-#{$i} {
      grid-area: s-#{$i};
    }
  }

  .b-1 {
    grid-area: b-1;
  }

  .b-2 {
    grid-area: b-2;
  }
}