@import "../presets/values";

$control-button-unit: 1em;

.fixed-button {
  position: fixed;
  bottom: 3em;
  right: 3em;

  display: flex;
  flex-direction: column;
  align-items: center;



  a {
    position: relative;

    text-align: center;
    font-size: $control-button-unit;
    text-decoration: none;
    color: white;

    display: block;
    align-items: center;

    width: $control-button-unit; height: $control-button-unit;

    background-color: rgba(16, 16, 16, 0.2);
    border-radius: 0.1 * $control-button-unit;

    @include blur(5px);

    margin: 0.1 * $control-button-unit
  }

  i.fa-chevron-up {
    transform: scale(0.8);

    position: absolute;
    top: -0.05 * $control-button-unit;
    left: 0;
  }

  i.fa-refresh {
    transform: scale(0.8);

    position: absolute;
    top: 0 * $control-button-unit;
    left: 0.07 * $control-button-unit;
  }
}

.fixed-button {
  transform: scale(2);
}