.fixed-button {
  position: fixed;
  bottom: 3em;
  right: 3em;

  display: flex;
  flex-direction: column;
  align-items: center;



  a {
    font-size: 4em;
    text-decoration: none;
    color: #414141;

    display: flex;
    align-items: center;

    width: 1em; height: 1em;
    padding: 0.1em;
    margin: 0.2em;

    background-color: rgba(255,255,255,0.5);
  }


}