@import "../global";



$input-radius: 7px;

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

// top bar.

.login-top-bar {
  background-color: rgba(255,255,255,0.5);


  @include blur(1em);

}

.login-top {

  padding: 1em 0;

  h4 {
    font-size: 2em;
    margin: 0;
    display: inline-block;


  }

  .login-options {
    position: relative;
    top: 0.5em;

    display: inline-block;
    float: right;

    a {
      color: black; text-decoration: none;
      padding-left: 3em;
    }

    a.current {
      color: #4f4f4f;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: $medium-width) {
  .login-top {
    display: flex;
    flex-direction: column;

    .login-options {
      display: inline-block;
      float: right;

      a {
        padding-left: 0;
        padding-right: 3em;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .login-options a {
    padding-right: 1.5em;
  }
}

// main

.login-page {
  // relative path according to css (the final version), not scss.
  background: url("../../img/bodyparts/Catalina.jpg") no-repeat top center;

  background-origin: border-box;
  background-size: cover;

  padding-bottom: 2em;
}

.login-main {
  color: white;
}

.login-main-area {
  @include center-column;
}

.login-title {
  margin: 2em 0 0.2em 0;
  font-size: 4em;
  font-weight: bolder;
  text-align: center;
}


