@import "../presets/values";

.page-switcher-action {
  width: 3em; height: 3em; border-radius: 1.5em;

  transition: background-color 1s;

  &:hover {
    background-color: #e5e5e5;
  }

  display: flex; justify-content: center; align-items: center;

  i {
    color: #333333;
    display: inline-block;
  }

}

.page-switcher {
  @include center-row;
  justify-content: center;

  border-top: $footer-border-color 1px solid;
  padding: 1em 0;
}



.page-switcher-main {
  padding: 0 3em;
  display: flex; flex-direction: row;
}

.page-switcher-options {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
  font-size: 2em;

  width: 2em; height: 2em;
  border-radius: 1em;

  margin: 0 0.5em;
  background-color: $footer-background;
  color: #86868b;

  transition: all 0.5s;

  &:hover {
    color: black;
    background-color: #e5e5e5;
  }

  &.current-page {
    text-decoration: none;
    background: none;
    color: black;
  }
}

@media (max-width: $medium-width) {
  .page-switcher-options:nth-child(4),
  .page-switcher-options:nth-child(5) {
    display: none;
  }
}