.card {
  $unit: 200px; $edge: 5px;

  width: 5 * $unit + 4 * $edge;
  height: 3 * $unit + 2 * $edge;
  padding: 30px;
  margin: 50px;

  border-radius: 10px;
  box-shadow: 0 0 70px #777;


  display: grid;
  grid: {
    template-rows: repeat(3, $unit + $edge);
    template-columns: repeat(5, $unit + $edge);
    template-areas:
            "b-1 b-1 s-5 b-2 b-2"
            "b-1 b-1 s-6 b-2 b-2"
            "s-1 s-2 s-3 s-4 o-1";
  }

  .big-pic {
    width: 2 * $unit + $edge; height: 2 * $unit + $edge;
    border-radius: 3px;
  }

  .small-pic {
    width: $unit; height: $unit;
    border-radius: 3px;
  }


  .b-1 {
    grid-area: b-1;
  }

  .b-2 {
    grid-area: b-2;
  }

  .s-1 {
    grid-area: s-1;
  }

  .s-2 {
    grid-area: s-2;
  }

  .s-3 {
    grid-area: s-3;
  }

  .s-4 {
    grid-area: s-4;
  }

  .s-5 {
    grid-area: s-5;
  }

  .s-6 {
    grid-area: s-6;
  }
}