body {
  padding: 0; margin: 0;
  font-family: sans-serif;

  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  $width: 5em;
  padding: 0 3em;

  background-color: #404040;


  height: $width;

  div {
    display: flex;
    align-items: center;

    $default: darkgray;
    $hover: lightgray;
    $active: white;

    i {
      color: $default;
      padding-right: 0.5em;
      transition: color 1s;
    }
    a {
      color: $default;
      text-align: center;
      text-decoration: none;
      padding-right: 0.5em;
      transition: all 1s;
    }

    &:hover {
      i {
        color: $hover;
      }
      a {
        color: $hover;
        transform: scale(1.3);
      }
    }
    &:active {
      i {
        color: $active;
      }
      a {
        color: $active;
      }
    }
  }
}



footer {
  background-color: rgb(245, 245, 247);

  font-size: 1em;
  font-weight: normal;
  color: rgb(134, 134, 139);
}