$page-width: 70em;


body {
  padding: 0; margin: 0;
  font-family: sans-serif;

  background-color: white;
}

.page-container {
  width: $page-width;
  margin: 0 2em;
}


@import "component/navigation-bar";

@import "component/footer";


@import "component/control-button";


footer {
  background-color: rgb(245, 245, 247);
}

.footer {
  font-size: 1em;
  font-weight: normal;
  color: rgb(134, 134, 139);
}



@mixin page-container-father {
  display: flex;
  justify-content: center;
}

body > div, header, footer, nav {
  @include page-container-father;
}

main > * {
  @include page-container-father;
}

.outer {
  @include page-container-father;
}

