$page-width: 70em;



body {
  padding: 0; margin: 0;
  font-family: sans-serif;

  background-color: white;
}

.page-container {
  width: $page-width;
}

header {
  display: flex;
  justify-content: space-between;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

nav {
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.nav {
  display: flex;
  justify-content: space-around;

  padding: 0 3em;




  .nav-item {
    display: flex;
    align-items: center;

    $default: #d0d0d0;
    $hover: #ffffff;
    $active: #ffffff;

    //i {
    //  color: $default;
    //  padding-right: 0.5em;
    //  transition: color 1s;
    //}

    a {
      color: $default;
      font-size: 2em;
      text-align: center;
      text-decoration: none;
      padding-right: 0.5em;
      transition: color 1s;
    }

    &:hover {
      //i {
      //  color: $hover;
      //}
      a {
        color: $hover;

      }
    }
    &:active {
      //i {
      //  color: $active;
      //}
      a {
        color: $active;
      }
    }
  }
}

.fixed-button {
  position: fixed;
  bottom: 3em;
  right: 3em;

  display: flex;
  flex-direction: column;
  align-items: center;



  a {
    font-size: 4em;
    text-decoration: none;
    color: #414141;

    display: flex;
    align-items: center;

    width: 1em; height: 1em;
    padding: 0.1em;
    margin: 0.2em;

    background-color: rgba(255,255,255,0.5);
  }


}



footer {
  background-color: rgb(245, 245, 247);

  font-size: 1em;
  font-weight: normal;
  color: rgb(134, 134, 139);
}