$page-width: 70em;



body {
  padding: 0; margin: 0;
  font-family: sans-serif;

  background-color: white;
}

.page-container {
  width: $page-width;
}

header {
  background-color: #333333;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 50%;


  .left {
    float: left;
    transform: scale(0.7,0.7);
  }

  .center {

  }

  .right {
    float: right;
  }
}

@import "component/navigation-bar";


@import "component/control-button";


footer {
  background-color: rgb(245, 245, 247);
}

.footer {
  font-size: 1em;
  font-weight: normal;
  color: rgb(134, 134, 139);
}


// fathers of .page-container
//#introduction,
//#popular-picture,
//.popular-picture-display,
//.region-img-display,
//header,
//footer

@mixin page-container-father {
  display: flex;
  justify-content: center;

}

body > div, header, footer, nav {
  @include page-container-father;
}

main > * {
  @include page-container-father;
}

.outer {
  @include page-container-father;
}

