body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: white; }

.page-container {
  width: 70em;
  margin: 0 2em; }

nav {
  background-color: #303030; }

.nav {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .nav-item .nav-link {
    color: #d5d5d5;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    transition: color 0.5s; }
  .nav-item .nav-link.current {
    color: #a4a4a4; }
  .nav-item:hover .nav-link {
    color: white; }
  .nav-item:hover .nav-link.current {
    color: #a4a4a4; }
  .nav-item:active .nav-link {
    color: white; }
  .nav-item:active .nav-link.current {
    color: #a4a4a4; }

.mobile {
  display: none; }

@media (max-width: 500px) {
  .nav-mobile {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .nav-mobile i {
      font-size: 1.5em; }

  .nav-mobile-item {
    color: #d5d5d5; }

  .website-icon img {
    width: 1.5em;
    height: 1.5em; }

  .mobile {
    display: block; }

  #nav-bar {
    display: none; }

  .nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: stretch; }

  .nav:last-child {
    border-bottom: none; }

  .nav-item {
    display: block;
    padding: 0.5em 0;
    border-bottom: #424245 solid 2px; } }
.user-menu {
  visibility: visible;
  display: flex;
  flex-direction: column;
  width: 7em;
  padding: 1em;
  border: #d2d2d7 2px solid;
  border-radius: 0.5em;
  background-color: white;
  position: absolute;
  z-index: 100;
  top: 5em;
  left: 0; }

.user-menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #d2d2d7 transparent; }

.user-menu-item {
  display: inline-block;
  text-align: left;
  color: #2390c5;
  padding: 0.5em 0;
  border-bottom: #d2d2d7 2px solid; }
  .user-menu-item.last {
    border-bottom: none; }
  .user-menu-item a {
    font-weight: lighter; }

@media (min-width: 500px) {
  .user-account {
    position: relative; }
    .user-account:hover .user-menu {
      visibility: visible; } }
@media (max-width: 500px) {
  .user-account-mobile {
    position: relative; }
    .user-account-mobile:hover .user-menu {
      visibility: visible; } }
.user-menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 7em;
  padding: 1em;
  border: #d2d2d7 2px solid;
  border-radius: 0.5em;
  background-color: white;
  position: absolute;
  z-index: 100;
  top: 2em;
  left: -4em; }

.user-menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #d2d2d7 transparent; }

.user-menu-item {
  display: inline-block;
  text-align: left;
  color: #2390c5;
  padding: 0.5em 0;
  border-bottom: #d2d2d7 2px solid; }
  .user-menu-item.last {
    border-bottom: none; }
  .user-menu-item a {
    font-weight: lighter; }

@media (max-width: 500px) {
  .user-menu {
    left: -6em; }

  .user-menu::after {
    left: 74%; } }
footer {
  background-color: #f5f5f7;
  padding-bottom: 1em; }

footer a:hover {
  text-decoration: underline; }

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #d2d2d7 2px solid; }

.footer-section {
  padding: 0.8em 0;
  margin: 0; }
  .footer-section h4 {
    color: black;
    font-size: 0.8em;
    text-align: left;
    font-weight: bold;
    padding: 0.4em 0;
    margin: 0; }

.footer-links {
  display: flex;
  align-items: stretch;
  flex-direction: column; }
  .footer-links a {
    text-decoration: none;
    color: #515154;
    font-size: 0.8em;
    text-align: left;
    font-weight: normal;
    padding: 0.4em 0;
    margin: 0;
    display: block; }

.footer-notes {
  margin: 0.4em 0;
  padding: 0;
  display: flex;
  flex-direction: row; }

.footer-copyright {
  color: #86868b;
  font-size: 0.8em;
  text-align: left;
  font-weight: normal; }

.footer-other-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .footer-other-links a {
    display: block;
    padding: 0 1em;
    border-right: #d2d2d7 2px solid;
    color: #515154;
    font-size: 0.8em;
    text-align: left;
    font-weight: normal; }
  .footer-other-links .last-child {
    border-right: none; }

.footer-info {
  padding: 0 1em 0 0;
  margin: 0;
  font-size: 0.8em;
  color: #86868b;
  font-weight: normal; }
  .footer-info span {
    font-weight: normal;
    display: inline-block;
    color: #2390c5; }

@media (max-width: 726px) {
  .footer-notes {
    flex-direction: column; }

  .footer-other-links {
    display: flex;
    flex-direction: row;
    justify-content: left; }
    .footer-other-links .first-child {
      padding-left: 0; } }
@media (max-width: 500px) {
  .footer-section {
    border-bottom: #d2d2d7 2px solid; }

  .footer-main, .footer-notes {
    flex-direction: column; } }
.fixed-button {
  position: fixed;
  bottom: 3em;
  right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fixed-button a {
    font-size: 4em;
    text-decoration: none;
    color: #414141;
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    margin: 0.2em;
    background-color: rgba(255, 255, 255, 0.5); }

footer {
  background-color: #f5f5f7; }

.footer {
  font-size: 1em;
  font-weight: normal;
  color: #86868b; }

body > div, header, footer, nav {
  display: flex;
  justify-content: center; }

main > * {
  display: flex;
  justify-content: center; }

.outer {
  display: flex;
  justify-content: center; }

.region-selector {
  border: solid 1px red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.page-container {
  border: solid 1px red; }

.country, .city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.country-selector {
  background-color: #515151; }

.city {
  background-color: #919191; }

.country-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .country-option img {
    width: 5em;
    height: 5em;
    border-radius: 2.5em; }
  .country-option span {
    font-size: 3em;
    font-weight: bold;
    color: white; }
  .country-option img, .country-option span {
    display: block; }

/*# sourceMappingURL=browse.css.map */
