@import "global";
@import "presets/values";

@import "component/page-switcher";

// layout

main {
  @include center-column;
}

.main-area {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1;
}

.results {
  flex: 3;
}

@import "component/filter";

// left

// search

.left {
  border-right: $footer-border-color 1px solid;
}

.login-type-box {
  margin: 1em 1em;
  border-radius: $input-radius;
  background-color: #f2f2fa;

  // padding-left: 1em;

  i {
    padding-right: 1em;
    color: #a7a7a7;
  }

  input[type="text"] {
    border: none;
    height: 5em; width: 15em;
    background: none;
    padding-left: 1em;

    border-radius: $input-radius;

  }



  input::placeholder {
    color: #a7a7a7;
    font-size: 1.5em;
  }

  input[type="text"]:focus {
    border: none;
  }

}

// select

.selection-title-box {
  padding: 1em 0;
  border-bottom: $footer-border-color px solid;
}

.selection-title {
  font-size: 1.7em;
  font-weight: bold;
}

.selection-option {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0 0.1em;

  border-radius: 7px;

  background-color: #ededed;

  color: #333333;

  transition: background-color 0.5s;



  &:hover {
    background-color: #dfdfdf;
  }
}

// img

.gallery {
  //padding: 1em;

  img {
    @include square-img(255px);
    border-radius: 7px;
    margin: 1em 0 0 1em;
  }
}



// others
.page-switcher {
  border: none;
}

//@media (max-width: 876px) {
//
//  .main-area {
//    display: flex;
//    flex-direction: column;
//  }
//
//
//}