body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: white; }

.page-container {
  width: 70em;
  margin: 0 2em; }

header {
  background-color: #333333;
  color: white; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 50%; }
  .header .left {
    float: left;
    transform: scale(0.7, 0.7); }
  .header .right {
    float: right; }

.search-box {
  background-color: #1d1d1f;
  padding: 0.2em 0 0.2em 0.5em;
  color: #69696e;
  border-radius: 0.3em;
  display: flex;
  align-items: center; }
  .search-box i {
    padding-right: 0.5em; }

.search-field {
  background: none; }
  .search-field::-webkit-input-placeholder {
    color: #69696e; }

nav {
  background-color: #303030; }

.nav {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .nav-item a {
    color: #d5d5d5;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    transition: color 0.5s; }
  .nav-item a.current {
    color: #a4a4a4; }
  .nav-item:hover a {
    color: white; }
  .nav-item:hover a.current {
    color: #a4a4a4; }
  .nav-item:active a {
    color: white; }
  .nav-item:active a.current {
    color: #a4a4a4; }

.mobile {
  display: none; }

@media (max-width: 500px) {
  .nav-mobile {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .nav-mobile i {
      font-size: 1.5em; }

  .nav-mobile-item {
    color: #d5d5d5; }

  .website-icon img {
    width: 1.5em;
    height: 1.5em; }

  .mobile {
    display: block; }

  #nav-bar {
    display: none; }

  .nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: stretch; }

  .nav:last-child {
    border-bottom: none; }

  .nav-item {
    display: block;
    padding: 0.5em 0;
    border-bottom: #424245 solid 2px; } }
.fixed-button {
  position: fixed;
  bottom: 3em;
  right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fixed-button a {
    font-size: 4em;
    text-decoration: none;
    color: #414141;
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    margin: 0.2em;
    background-color: rgba(255, 255, 255, 0.5); }

footer {
  background-color: #f5f5f7; }

.footer {
  font-size: 1em;
  font-weight: normal;
  color: #86868b; }

body > div, header, footer, nav {
  display: flex;
  justify-content: center; }

main > * {
  display: flex;
  justify-content: center; }

.outer {
  display: flex;
  justify-content: center; }

.region-selector {
  border: solid 1px red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.page-container {
  border: solid 1px red; }

.country, .city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.country-selector {
  background-color: #515151; }

.city {
  background-color: #919191; }

.country-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .country-option img {
    width: 5em;
    height: 5em;
    border-radius: 2.5em; }
  .country-option span {
    font-size: 3em;
    font-weight: bold;
    color: white; }
  .country-option img, .country-option span {
    display: block; }

/*# sourceMappingURL=browse.css.map */
