body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: white; }

.page-container {
  width: 70em;
  margin: 0 2em; }

header {
  background-color: #333333;
  color: white; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 50%; }
  .header .left {
    float: left;
    transform: scale(0.7, 0.7); }
  .header .right {
    float: right; }

.search-box {
  background-color: #1d1d1f;
  padding: 0.2em 0 0.2em 0.5em;
  color: #69696e;
  border-radius: 0.3em;
  display: flex;
  align-items: center; }
  .search-box i {
    padding-right: 0.5em; }

.search-field {
  background: none; }
  .search-field::-webkit-input-placeholder {
    color: #69696e; }

nav {
  background-color: #303030; }

.nav {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .nav-item a {
    color: #d5d5d5;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    transition: color 0.5s; }
  .nav-item a.current {
    color: #a4a4a4; }
  .nav-item:hover a {
    color: white; }
  .nav-item:hover a.current {
    color: #a4a4a4; }
  .nav-item:active a {
    color: white; }
  .nav-item:active a.current {
    color: #a4a4a4; }

.mobile {
  display: none; }

@media (max-width: 500px) {
  .nav-mobile {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .nav-mobile i {
      font-size: 1.5em; }

  .nav-mobile-item {
    color: #d5d5d5; }

  .website-icon img {
    width: 1.5em;
    height: 1.5em; }

  .mobile {
    display: block; }

  #nav-bar {
    display: none; }

  .nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: stretch; }

  .nav:last-child {
    border-bottom: none; }

  .nav-item {
    display: block;
    padding: 0.5em 0;
    border-bottom: #424245 solid 2px; } }
.fixed-button {
  position: fixed;
  bottom: 3em;
  right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fixed-button a {
    font-size: 4em;
    text-decoration: none;
    color: #414141;
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    margin: 0.2em;
    background-color: rgba(255, 255, 255, 0.5); }

footer {
  background-color: #f5f5f7; }

.footer {
  font-size: 1em;
  font-weight: normal;
  color: #86868b; }

body > div, header, footer, nav {
  display: flex;
  justify-content: center; }

main > * {
  display: flex;
  justify-content: center; }

.outer {
  display: flex;
  justify-content: center; }

.image-information {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.image img {
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray; }

.detail {
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  background-color: #eeeeee;
  padding: 2em;
  margin-left: 2em; }

.user {
  display: flex;
  align-items: center; }
  .user img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 2em; }
  .user .user-name {
    font-size: 2em;
    font-weight: bold;
    color: black; }

.image-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  background-color: #eeeeee; }

.label-section {
  padding: 1em; }
  .label-section span {
    display: block;
    font-weight: bold;
    font-size: 2em; }
  .label-section .labels {
    display: flex;
    flex-direction: row;
    margin: 0.3em 0; }
  .label-section .label {
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    background-color: #d4d4d4;
    color: dimgray;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 1em; }

.buttons {
  padding: 1em;
  display: flex;
  align-items: center; }
  .buttons .action {
    font-size: 1.7em;
    font-weight: bold;
    padding: 0.5em 0.7em;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    background-color: #d4d4d4;
    color: dimgray;
    margin: 0 0.9em; }
  .buttons i.fa-thumbs-up {
    color: #ff1493; }
  .buttons i.fa-star {
    color: #ffbc4b; }
  .buttons i.fa-comment {
    color: #3b8fff; }

/*# sourceMappingURL=image-detail.css.map */
