@import "global";
@import "./presets/values";

$border-radius: 10px;
$edge: 2em;

$light-gray: #eeeeee;
$heavy-gray: #d4d4d4;
$dark-gray: dimgray;


.img-detail-picture {
  width: 100%;
}

.info {
  @include center-column;
}

.title {
  display: block;
  text-align: center;
  font-size: 4em;
}

// upload info

.user-info {
  @include center-row;
  width: 100%;
  border-bottom: $footer-border-color 1px solid;
  padding-bottom: 1em;
}

$a: 1.5em;
@mixin description-font {
  font-size: $a;
  font-weight: bold;
  color: $footer-text;
}

.user {
  display: flex; align-items: center;


  img {
    width: 2*$a; height: 2*$a;
    border-radius: $a;
    margin-right: 1em;
  }

  span {
    @include description-font;
  }
}

.upload-time {
  @include description-font;
}

// tags

.tags {
  margin: 1em 0 2em 0;
}

.tag {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #b8b8b8;


  border-radius: 4px;
  background-color: $footer-background;
  box-shadow: 0 0 10px #e4e4e4;

  margin: 0 1em;
  padding: 0.2em 0.7em;
}

// description

.description {
  font-size: 1.5em;
  text-indent: 3em;
  line-height: 1.8em;
}

.location {
  display: block;
  float: right;

  margin: 3em 0;

  font-size: 1em;
  font-weight: lighter;
  color: #a3a3a3;
}

// buttons

.actions {
  @include center-row;
}

@mixin box-base($front, $back, $active) {
  background-color: $back;
  color: $front;

  &:hover {
    background-color: $active;
  }
}

.button {
  margin: 1em 2em;
  padding: 0.3em 0.7em;
  font-size: 1.7em;
  border-radius: 7px;
}

@media (max-width: $medium-width) {
  .button {
    margin: 1em 1em;
    font-size: 1.3em;
  }
}

.thumb-up {
  @include box-base($thumb-up, $thumb-up-base, $thumb-up-active);
}

.like {
  @include box-base($like, $like-base, $like-active);
}

.share {
  @include box-base($share, $share-base, $share-active);
}

