@import "global";

.index-block {
  text-align: center;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.index-title-img {
  width: 7em; height: 7em;
}

.subtitle {
  white-space: pre-line;
}

#introduction {
  background-image:linear-gradient(141deg, #d6cf36 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;

  img {
    transform: scale(0.9,0.9);
  }
}





@import "component/card";

@import "component/picture";