@import "global";

main {
  padding-bottom: 4em;
}

.index-block {
  padding-top: 1em;

  h1 {
    font-size: 2em;
    margin: 1em 0 0 0;
  }
}

.index-block {
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.index-title-img {
  width: 7em; height: 7em;
}

.subtitle {
  white-space: pre-line;
  margin: 1em 0;
}


// custom

.introduction {
  background-image:linear-gradient(141deg, #d6cf36 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;

  img {
    transform: scale(0.9,0.9);
  }
}

.section-link {
  font-weight: normal;
  color: $link-blue;
  font-size: 0.9em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

// img-demo

.img-demo-box {

}

.img-demo {
  display: inline-block;

  width: 15em;

  background-color: #f6f6f6;
  border-radius: 9px;
  box-shadow: 0 0 18px #e0e0e0;

  padding: 1em;
  margin: 0 1em 1em 0;

  img {
    @include square-img(15em);
    border-radius: 7px;
  }
}

.img-demo-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;

  margin: 0.3em 0;
}

.img-demo-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;

  text-align: left;
  text-indent: 2em;
  font-weight: normal;
}

@media (max-width: $medium-width) {
  .img-demo {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;

    img {
      @include square-img(8em);
      margin-right: 1em;
    }
  }

}

@media (max-width: $mobile-width) {
  .img-demo-title {
    font-size: 1.2em;

  }
}


@import "component/card";
