@import "global";

section {
  padding: 1em 2em;
  margin: 0;

  img {
    width: 7em; height: 7em;
  }

  .subtitle {
    white-space: pre-line;
  }



  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

#introduction {
  background-image:linear-gradient(141deg, #d6cf36 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;

  img {
    transform: scale(0.9,0.9);
  }
}




@import "component/card";

@import "component/picture";