@import "global";
@import "component/login-common";


// out


// main

.login-description {
  font-size: 1.5em;
}

.login-checkbox {
  @include center-row;
  justify-content: center;

  span {
    display: inline-block;
    padding-left: 0.5em;
  }
}

// username & password box.

.login-type-box {
  margin: 1em 0 1em 0;
  border-radius: $input-radius;
  background-color: white;

  border: $footer-border-color solid 1px;



  fieldset.username {
    border-bottom: $footer-border-color solid 1px;
  }
}

input[type="text"], input[type="password"] {
  border: none;
  height: 5em; width: 30em;
  background: none;
  padding-left: 1em;
}

@media (max-width: $mobile-width) {
  input[type="text"], input[type="password"] {
    width: 20em;
  }

}

input[type="text"] {
  border-radius: $input-radius $input-radius 0 0;
}

input[type="password"] {
  border-radius: 0 0 $input-radius $input-radius;
}

.login-confirm {
  color: $link-blue;
  font-size: 1em;
  padding-right: 1em;
  text-decoration: none;
}

input::placeholder {
  font-size: 1.5em;
}

input[type="text"]:focus, input[type="password"] {
  border: none;
}

.forget-password {
  padding-top: 4em;
  color: white;
  text-decoration: none;
}