@import "global";
@import "component/input-common";
@import "presets/values";


// top

.login-description {
  font-size: 1.5em;
}

// search-box.

.login-type-box {
  margin: 1em 0 1em 0;
  border-radius: $input-radius;
  background-color: rgba(255,255,255,0.4);
  @include blur(15px);

  // padding-left: 1em;

  i {
    padding-right: 1em;
  }


  input[type="text"] {
    border: none;
    height: 5em; width: 30em;
    background: none;
    padding-left: 1em;

    border-radius: $input-radius;
  }



  input::placeholder {
    color: #dbdbdb;
    font-size: 1.5em;
  }

  input[type="text"]:focus {
    border: none;
  }

}


@media (max-width: $mobile-width) {
  .login-type-box input[type="text"] {
    width: 20em;
  }

}


// options

.search-option-box {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255,255,255,0.4);
  @include blur(15px);
  border-radius: 7px;

  padding: 0.3em 0.2em;

  margin-top: 3em;
}



.search-option {
  display: inline-block;
  color: white;


  border-radius: 7px;


  font-size: 1.2em;
  padding: 0 1em;
  margin: 0 0.2em;
}

#by-title {
  background-color: rgba(255,255,255,0.4);
}

@media (max-width: $mobile-width) {

  .search-option-box {
    width: 10em;
  }

}

// main

.search-result-box {
  // @include center-column;
  display: flex;
  flex-direction: column;


}

.search-result-title {
  width: 100%;

  border-bottom: $footer-border-color 1px solid;

}

.search-result-description {
  width: 100%;
  padding-top: 0.3em;

  span {
    color: $footer-text;
  }
}

.search-result-main-box {
  padding: 3em 0 3em 0;
}


// results

$test: red 1px solid;

.search-entry {
  background-color: $footer-background;
  padding: 2em;
  border-radius: 7px;

}

.img-content {
  display: flex;
  flex-direction: row;
  justify-content: left;

  img {
    display: block;
  }
}

.search-square-img {
  @include square-img(30em);
  border-radius: 7px;
}

// #img-detail

.img-detail {
  margin-left: 2em;

}

.img-detail-title {
  width: 100%;
  display: block;

  font-weight: bold;
  font-size: 3em;

  border-bottom: $footer-border-color 1px solid;

  margin-bottom: 0.3em;
}

.img-detail-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1em;
}

.img-detail-upload-user {
  display: flex; flex-direction: row;
  align-items: center;
  $unit: 1.5em;



  img {
    //border-radius: $unit;
    //width: $unit; height: $unit;
    // problem.

    border-radius: 30px;

    padding-right: 0.7em;
  }

  span {
    font-weight: bold;
    font-size: $unit;

    color: $footer-note;
  }

}

.img-detail-upload-date {
  color: $footer-note;
  font-weight: bold;
  font-size: 1.5em;
}


.img-detail-description {
  font-size: 1em;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.img-detail-location {
  float: right;

  padding-top: 1em;

  font-size: 1.5em;
  font-weight: bold;
  color: $footer-note;
}





// #img-action

.img-actions {
  display: flex; flex-direction: row;
  justify-content: space-between;

  padding-top: 2em;

  span, a {
    transform: scale(1.5);
  }

  .thumb-up {
    margin-right: 2em;
    color: deeppink;
  }

  .like {
    margin-right: 2em;
    color: #ffce23;
  }

  .share {
    margin-right: 2em;
    color: #0d96db;
  }

  .detail {
    color: gray;
  }
}

