@import "global";
@import "component/input-common";
@import "presets/values";
@import "component/img-box";


// top

.login-page {
  background: url("../../img/bodyparts/Mojave.jpg") no-repeat center;
  background-size: cover;
}

.login-description {
  font-size: 1.5em;
}

// search-box.

.login-type-box {
  margin: 1em 0 1em 0;
  border-radius: $input-radius;
  background-color: rgba(255,255,255,0.4);
  @include blur(15px);

  // padding-left: 1em;

  i {
    padding-right: 1em;
  }


  input[type="text"] {
    border: none;
    height: 5em; width: 30em;
    background: none;
    padding-left: 1em;

    border-radius: $input-radius;
  }



  input::placeholder {
    color: #dbdbdb;
    font-size: 1.5em;
  }

  input[type="text"]:focus {
    border: none;
  }

}


@media (max-width: $mobile-width) {
  .login-type-box input[type="text"] {
    width: 20em;
  }

}


// options

.search-option-box {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255,255,255,0.4);
  @include blur(15px);
  border-radius: 7px;

  padding: 0.3em 0.2em;

  margin-top: 3em;
}



.search-option {
  display: inline-block;
  color: white;


  border-radius: 7px;


  font-size: 1.2em;
  padding: 0 1em;
  margin: 0 0.2em;
}

#by-title {
  background-color: rgba(255,255,255,0.4);
}

@media (max-width: $mobile-width) {

  .search-option-box {
    width: 10em;
  }

}

// main

.search-result-box {
  // @include center-column;
  display: flex;
  flex-direction: column;
}

.search-result-title {
  width: 100%;

  border-bottom: $footer-border-color 1px solid;

  h2 {
    font-weight: bold;
    font-size: 3em;
  }

}

.search-result-description {
  width: 100%;
  padding-top: 0.3em;

  span {
    color: $footer-text;
  }
}

.search-result-main-box {
  padding: 3em 0 3em 0;
}


// results



// pages

.search-result-pages-action {
  width: 3em; height: 3em; border-radius: 1.5em;

  transition: background-color 1s;

  &:hover {
    background-color: #f2f2fb;
  }

  display: flex; justify-content: center; align-items: center;

  i {
    color: #333333;
    display: inline-block;
  }

}

.search-result-pages {
  @include center-row;
  justify-content: center;

  border-top: $footer-border-color 1px solid;
  padding: 1em 0;
}



.search-result-pages-main {
  padding: 0 3em;
}

.search-result-pages-options {
  display: inline-block;

  font-weight: bold;
  font-size: 2em;

  padding: 0.2em 0.4em;
  border-radius: 7px;

  margin: 0 0.5em;
  background-color: $footer-background;
  color: #86868b;

  &:hover {
    text-decoration: underline;
  }

  &.current-page {
    text-decoration: none;
    background: none;
    color: black;
  }
}






// responsive

@media (max-width: $mobile-width) {
  .search-option-box {
    flex-direction: column;
  }

}



@media (max-width: $medium-width) {
  .search-result-pages-options:nth-child(4),
  .search-result-pages-options:nth-child(5) {
    display: none;
  }

}