@import "global";
@import "component/input-common";
@import "presets/values";
@import "component/img-box";


// top

.login-page {
  background: url("../../img/bodyparts/Mojave.jpg") no-repeat center;
  background-size: cover;
}

.login-description {
  font-size: 1.5em;
}

// search-box.

.login-type-box {
  margin: 1em 0 1em 0;
  border-radius: $input-radius;
  background-color: rgba(255,255,255,0.4);
  @include blur(15px);

  // padding-left: 1em;

  i {
    padding-right: 1em;
  }


  input[type="text"] {
    border: none;
    height: 5em; width: 30em;
    background: none;
    padding-left: 1em;

    border-radius: $input-radius;
  }



  input::placeholder {
    color: #dbdbdb;
    font-size: 1.5em;
  }

  input[type="text"]:focus {
    border: none;
  }

}


@media (max-width: $mobile-width) {
  .login-type-box input[type="text"] {
    width: 20em;
  }

}


// options

.search-option-box {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255,255,255,0.4);
  @include blur(15px);
  border-radius: 7px;

  padding: 0.3em 0.2em;

  margin-top: 3em;
}



.search-option {
  display: inline-block;
  color: white;


  border-radius: 7px;


  font-size: 1.2em;
  padding: 0 1em;
  margin: 0 0.2em;
}

#by-title {
  background-color: rgba(255,255,255,0.4);
}

@media (max-width: $mobile-width) {

  .search-option-box {
    width: 10em;
  }

}

// main

@import "component/list-img-outer";



// results



// pages

@import "component/page-switcher";


// responsive

@media (max-width: $mobile-width) {
  .search-option-box {
    flex-direction: column;
  }

}



