@import "global";
@import "component/input-common";
@import "presets/values";


// main

.login-description {
  font-size: 1.5em;
}

// search-box.

.login-type-box {
  margin: 1em 0 1em 0;
  border-radius: $input-radius;
  background-color: rgba(255,255,255,0.4);
  @include blur(15px);

  // padding-left: 1em;

  i {
    padding-right: 1em;
  }


  input[type="text"] {
    border: none;
    height: 5em; width: 30em;
    background: none;
    padding-left: 1em;

    border-radius: $input-radius;
  }



  input::placeholder {
    color: #dbdbdb;
    font-size: 1.5em;
  }

  input[type="text"]:focus {
    border: none;
  }


}


@media (max-width: $mobile-width) {
  .login-type-box input[type="text"] {
    width: 20em;
  }


}


// options

.search-option-box {
  display: flex;
  justify-content: center;

  margin-top: 3em;
  width: 20em;
  border-bottom: white 1px solid;
}



.search-option {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 1em 0 1em;
}

@media (max-width: $mobile-width) {

  .search-option-box {
    width: 10em;
  }

}