// text
$link-blue: rgb(35, 144, 197);

$button-blue: rgb(44,114,219);
$button-blue-hover: rgb(54,124,222);

// page
$page-background: rgb(245,245,247);


// header
$search-box: rgb(29,29,31);
$search-box-text: rgb(105,105,110);

// navigation bar
$nav-background: rgb(48,48,48);
$nav-text: rgb(213,213,213);
$nav-text-current: rgb(164,164,164);
$nav-text-active: white;
$nav-divide-line: rgb(66,66,69);


// footer

$footer-text: rgb(81,81,84);
$footer-note: rgb(134,134,139);
$footer-background: rgb(245,245,247);
$footer-border-color: rgb(210,210,215);
$footer-border: $footer-border-color 2px solid;
