// layout

@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-row {
  @include center;
  flex-direction: row;
}

@mixin center-column {
  @include center;
  flex-direction: column;
}


$shadow: 0 0 10px lightgray;

$medium-width: 726px;
$mobile-width: 500px;

@import "colors";